language: cpp

compiler:
#  - clang
  - gcc

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-wine/ppa
  - if [ "${CXX}" = 'g++' ]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test; fi
  - sudo apt-get -qq update
#  - sudo apt-get -qq upgrade

install:
#  - sudo apt-get install -y binutils-mingw-w64-i686
#  - sudo apt-get install -y gcc-mingw-w64-i686 mingw-w64-tools
  - sudo apt-get -qq -y install wine
  # iutest
  - git clone https://github.com/srz-zumix/iutest.git iutest

script:
  - cd ./test
  - make all
