language: python
 
before_install:
 - export PYTHONDONTWRITEBYTECODE=1
 - sudo apt-get -qq update

install:
 - git clone https://github.com/srz-zumix/iutest.git iutest
# - pip install twilio
 - easy_install twilio

script:
 - cd ./test
 - make all

env:
  global:
   - USE_TWILIO=1
   # SID, AUTH, NUMBER, TO
   - secure: BGw3UG3AWXP2WHaYddMazYk9Fh99BRgg6NokN54pavENdJ1r6U4BkHlSipriOYxIEgrdT+DBLKck6BfMYjkYGx6hlWD6VY+moXESHErQX5SGWyvLyMgi33k2j1YxKFcz6zb4iLujKljhPPMao117RqfSgRb/qGzSIVW965Zmpu4=
